.nav-link.active {
    font-weight: bold;
    color: #007bff; /
}

.home-background {
    background-color: #ffffffcc; 
    background-size: cover;
    background-position: center;
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    width: 100vw;
}

.home-background .container-fluid {
    background-color: #ffffffcc; 
    padding: 2rem;
    border-radius: 0.5rem;
    width: 100%;
}

.navbar {
    background-color: rgb(0, 123, 255) !important; 
    padding-top: 1rem !important;  
    padding-bottom: 1.5rem !important; 
    color:#ffffff;
}

.navbar .navbar-brand,
.navbar .nav-link {
    color: rgba(255, 255, 255, 0.75) !important; 
}

footer { 
    background-color: rgb(13, 202, 240) !important; 
    padding-bottom: 0.75rem;
    color: #ffffff;
    text-align: center; 
}
html {
    scroll-behavior: smooth;
  }
 
.project-card-img {
    height: 200px; 
    object-fit: contain; 
    width: 100%; 
    background-color: #f8f9fa; 
  }
  

  .card-body.d-flex.flex-column .btn {
    margin-top: auto; 
  }
  